---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout
    pageTitle={frontmatter.title}
    pageDesc={frontmatter.description}
    pageAuthor={frontmatter.author}
    ogTitle={frontmatter.title}
    ogDesc={frontmatter.description}
    ogType="article"
>
    <div class="p-3">
        <h1 class="font-bold text-2xl">{frontmatter.title}</h1>
        <h3 class="italic text-sm">{frontmatter.description}</h3>
        <span class="h-0.25 w-full block bg-gray-700 mb-1 mt-1"></span>
        <slot />
    </div>
</BaseLayout>

<style>
    :root{
        h2 {
            margin-top: 0.5rem;
            font-weight: bold;
            font-size: large;
        }
        h4 {
            font-style: italic;
            font-size: small;
        }
    }
</style>